[submodule "deps/sparse-merkle-tree"]
	path = deps/sparse-merkle-tree
	url = https://github.com/nervosnetwork/sparse-merkle-tree.git
	branch = master
[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/nervosnetwork/secp256k1.git
